@import url("./shoppingList.css");

h1,
h2,
h3,
h4,
h5,
h6,
nav {
	font-family: "Lobster", cursive;
}

html {
	height: auto;
	min-height: 100%;
}

body {
	width: 100%;
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(157, 243, 196);
	background: linear-gradient(
		0deg,
		rgba(157, 243, 196, 1) 0%,
		rgba(98, 210, 162, 1) 33%,
		rgba(31, 171, 137, 1) 66%
	);
	background-repeat: no-repeat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#pageHeader {
	margin: 30px, 0px, 0px, 45px;
}

#mainAddButton:link,
:visited {
	color: #1fab89;
}
